# Ignore a pasta bin/ e obj/ (arquivos gerados durante a compilação)
bin/
obj/

# Arquivos de configuração do Visual Studio
.vs/
.vs2019/
.vs2017/


*.user
*.userosscache
*.suo
*.userprefs


.idea/
.vscode/


.nuget/


packages/


*_i.c
*_p.c


*.dll
*.exe
*.pdb
*.cache

*.log

Thumbs.db
Desktop.ini


*.cab
*.msi
*.msm
*.msp


packages.config